@import '~@/scss/partials/variables';
@import '~@/scss/partials/mediaqueries';

.Item {
  text-align: center;
  color: $black;
  font-size: 4rem;
  font-weight: 100;
  margin: 0 1.5rem;
}

@include tablet {
  .Item {
    font-size: 3rem;
  }

  .Emoji {
    display: block;
    margin-top: 1rem;
  }
}

@include mobile {
  .Item {
    font-size: 2rem;
  }

  .Emoji {
    display: block;
    margin-top: 1rem;
  }
}
