@import '~@/scss/partials/variables';

.Header {
  color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.75;
  height: 80px;
  min-width: 100%;

  .MainText {
  }
}
