@import '~@/scss/partials/variables';

.App {
  height: 100vh;
  width: 100vw;
  background-color: #d7e9ea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .Main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);
    min-width: 100%;
  }
}
