@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');
@import './normalize.css';
@import './partials/variables';

* {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: $white;
  color: $black;
}
